.side-profile {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}
.side-name{
    font-size: 18px;
    color: #cfcfcf;
    margin-bottom: 0;
}
.side-dept{
    font-size: 14px;
    color: #cfcfcf;
}
.side-img {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
}
.side-no-sidebar-menu{
    text-align: center;
    color: #cfcfcf;
}
.side-chat{
    width: 90px;
    height: 30px;
    font-size: 12px;
}
.side-chat img{
    width: 15px;
    margin: 0 8px 0 0;
}
