<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.cocoa.dao.FilesDAO">
	<insert id="uploadFiles">
		INSERT INTO FILES VALUES(FILES_SEQ.NEXTVAL, #{fdto.oriname}, #{fdto.savedname}, SYSDATE,#{noBoard_seq},0,0)
	</insert>
	<select id="getFilesListByDocSeq" resultType="kh.cocoa.dto.FilesDTO">
		SELECT * FROM FILES WHERE DOCUMENT_SEQ=#{seq}
	</select>
</mapper>