<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.cocoa.dao.MessengerDAO">
    <select id="myMessengerList" resultType="kh.cocoa.dto.MessengerViewDTO">
        SELECT M.*, E.NAME EMPNAME, E.DEPTNAME, E.TEAMNAME, E.POSNAME
        FROM MESSENGER_VIEW M,
             EMPLOYEE_VIEW E
        WHERE SEQ IN (SELECT SEQ FROM MESSENGER_VIEW WHERE EMP_CODE =#{code})
          AND M.EMP_CODE !=#{code}
            AND M.EMP_CODE=E.CODE
    </select>
    <select id="getMessengerPartyEmpInfo" resultType="kh.cocoa.dto.MessengerViewDTO">
        SELECT E.CODE, E.NAME EMPNAME, E.DEPTNAME, E.TEAMNAME, E.POSNAME
        FROM MESSENGER_VIEW M,
             EMPLOYEE_VIEW E
        WHERE SEQ=#{seq}
          AND M.EMP_CODE !=#{code}
          AND M.EMP_CODE=E.CODE
    </select>
</mapper>