<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.cocoa.dao.NotificationBoardDAO">
<!-- 게시글 리스트 가져오기 -->
	<select id="getNotificationBoardList" resultType="kh.cocoa.dto.BoardDTO">
		SELECT * FROM (SELECT ROWNUM NUM, N.* FROM (SELECT * FROM BOARD ORDER BY WRITE_DATE DESC) N)
        WHERE NUM BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
<!-- 토탈 카운트 가져오기 -->
	<select id="recordTotalCount" resultType="Integer">
		SELECT COUNT(*) FROM BOARD 
	</select>
<!-- 글작성 -->
	<insert id="notificationBoardCreateDone" >
		INSERT INTO BOARD VALUES(BOARD_SEQ.NEXTVAL, #{TITLE},#{CONTENTS},SYSDATE,0, 0,0)<!-- #{writer_code},#{menu_seq}) -->
	</insert>
<!-- 게시글 가져오기 -->
	<select id="notificationBoardContentsSelect" resultType="kh.cocoa.dto.BoardDTO">
		SELECT * FROM BOARD WHERE SEQ=#{seq}
	</select>
<!-- 게시글 조회수 올리기 -->
	<update id="notificationBoardViewCount" >
		UPDATE BOARD SET VIEW_COUNT=VIEW_COUNT+1 WHERE SEQ=#{seq}
	</update>
<!-- 게시글 수정  -->
	<update id="notificationBoardContentsModify">
		UPDATE BOARD SET TITLE=#{title}, CONTENTS=#{contents} WHERE SEQ=#{seq}
	</update>
<!-- 게시글 삭제 -->
	<delete id="notificationBoardContentsDel">
		DELETE FROM BOARD WHERE  SEQ=#{seq}
	</delete>
	
<!-- 검색한 게시글 가져오기 -->
	<select id="notificationBoardListBySearch" resultType="kh.cocoa.dto.BoardDTO">
			SELECT * FROM (SELECT BOARD.*, ROW_NUMBER() OVER (ORDER BY WRITE_DATE DESC) 
			RN FROM BOARD 
			WHERE TITLE LIKE '%${value}%' OR CONTENTS LIKE '%${value}%') 
			WHERE RN BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
<!-- 	<select id="notificationBoardListBySearch" resultType="kh.cocoa.dto.BoardDTO">
  		SELECT * FROM BOARD ORDER BY SEQ DESC
  	</select> -->
</mapper>	