<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.cocoa.dao.TeamDAO">
    <select id="getTeamList"  resultType="kh.cocoa.dto.TeamDTO">
        SELECT * FROM Team where dept_code = #{code} order by name
    </select>
    <select id="getTeamName" resultType="kh.cocoa.dto.TeamDTO">
        select * from team where code=#{code} order by name
    </select>
    <select id="getSearchTeamList" resultType="kh.cocoa.dto.TeamDTO">
        select count(e.team_code) count,t.name,t.code from team t
        full outer join employee e on t.code = e.team_code
        where t.name like '%${name}%' group by t.name,t.code order by name
    </select>

    <select id="getSearchTeamCode" resultType="kh.cocoa.dto.TeamDTO">
        SELECT * FROM TEAM WHERE NAME LIKE '%${name}%'
    </select>
</mapper>
